.App {
  text-align: left;
}

.logo {
  margin-top: 10px;
  padding-left: 20px;
  height: 50px;
  float:left;
}

.App-header {
  background-color: #000000;
  min-height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.top-bar {
  background: #000000;
  width: 100%;
  position: absolute;
  top: 0px;
  text-align: left;
  color:#ffffff;
}

h1 {
  padding-left:30px;
}

ul {
  font-size:15px;
  text-align: left;
  list-style-type: none;
}

.App-body {
  padding-top: 50px;
}

.Loading {
  margin-top:150px;
  text-align: center;
  font-weight: bold;
  font-size:28px;
  color: #bb0e0e;
}

// NOTE: One thing missing from your usage of SASS is actually leveraging the cool stuff SASS gives us.
// One example is nesting of styles which we cannot do normally in CSS
// I've assigned the post-list and post components their own classes, let's use them.
// Inspect the rendered CSS in your browser to see how this works

.post-list {
  .post {
    border-bottom: 2px solid grey;
    margin-bottom: 25px;
    padding-bottom: 25px;
  }
}
